#cube {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;   /* BIGGER */
    height: 220px;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%);
    animation: rotateCube 10s infinite linear;
    filter: drop-shadow(0 0 20px cyan); /* GLOW */
}
#bg-animation {
    background: radial-gradient(circle at center, #0f2027, #203a43, #000000);
}

#cube div {
    position: absolute;
    width: 220px;
    height: 220px;
    border: 2px solid rgba(255,255,255,0.6); /* STRONGER */
    backdrop-filter: blur(3px);
}

/* STRONG COLORS */
.side1 { background: rgba(0,255,255,0.5); transform: rotateY(0deg) translateZ(110px); }
.side2 { background: rgba(255,0,255,0.5); transform: rotateY(90deg) translateZ(110px); }
.side3 { background: rgba(0,255,0,0.5); transform: rotateY(180deg) translateZ(110px); }
.side4 { background: rgba(255,0,0,0.5); transform: rotateY(-90deg) translateZ(110px); }
.side5 { background: rgba(255,255,0,0.5); transform: rotateX(90deg) translateZ(110px); }
.side6 { background: rgba(255,105,180,0.5); transform: rotateX(-90deg) translateZ(110px); }
